name: Auto Merge
on:
  pull_request:
    types:
      - labeled

jobs:
  auto-merge:
    concurrency:
      group: "auto-merge:${{ github.head_ref }}"
      cancel-in-progress: true

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Create github app token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Enable automerge
        if: contains(github.event.pull_request.labels.*.name, 'auto-merge')
        run: gh pr merge --auto --rebase ${{ github.event.pull_request.number }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
